<div class="row center-block" *ngIf="disable" [ngClass] = "{'vertical-center': disable}">
  <div class="col-sm-6 offset-sm-3" style="text-align: center;">
    <div class="alert alert-warning alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>[WARN]</strong> have no permission to create project config!
    </div>
  </div>
</div>
<div class="row" [ngClass] = "{'vertical-center': !disable}">
  <div class="col-sm-4 offset-sm-4" style="text-align: center;">
    <button (click)="createProjectConfigSkeleton()" type="button"
    class ="btn btn-outline-info"
    [attr.disabled] = "disable ? true : null">Create</button>
  </div>
</div>
